

    

<footer class="bg-secondary text-light border-top border-primary py-1">
    <div class="row">
        <div class="col-sm-4 text-center">
            <h5>Address: </h5>
            <span><i class="far fa-map-marker-alt"></i><small>  C-215, Fasilo, Bahir Dar, Ethiopia</small></span>
            
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="268" height="192" id="gmap_canvas" src="https://maps.google.com/maps?q=Poly%20campas%20Bahir%20Dar,%20Ethiopia&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <a href="https://putlocker-is.org"></a>
                    </div>
                </div>
        </div>
        <div class="col-sm-4 border-left">
            <h6 class="text-center">Copyright &copy; 2021, Sileshi Bayu</h6>
            <h5 class="ml-4">Contact us:</h5>
            <div class="text-center">
                <i class="fas fa-envelope-square" aria-hidden="true"></i><a href="#">  sileshi.bayu@bdu.edu.et</a><br>
                <i class="fas fa-mobile-alt" aria-hidden="true"></i><a href="#">  +251921282646</a>
            </div>
            <h6 class="ml-4">Also follow us with</h6>
            <div class="py-2 text-center">
                <a href="#"><i class="fab fa-facebook-f py-2" >   facebook</i></a>
                <a href="#"><i class="fab fa-telegram-plane py-2">   telegram</i></a>
                <a href="#"><i class="fab fa-whatsapp py-2">   Whatsapp</i></a> 
            </div>
        </div>
        <div class="col-sm-4 border-left">
            <h5>Useful Links:</h5>
            <div class="py-2 ml-4">
                <p>New user? please <a href="#">Sign-up</a> & have an account ? <a href="#">login </a>  here.</p>
                <p>You can read our <a href="#">documentation </a> and <a href="#">FAQ </a> </p>
                <p>Leave Us <a href="#">Comments </a> </p>
            </div>
        </div>
    </div>
</footer>


