<link rel="stylesheet" href="/css/style.css">
<!--header section-->
<header id="home-section">
    <div class="dark-overlay">
        <div class="home-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 d-none d-md-block text-light">
                        <div class="text-center">
                            <h6 class="display-4">
                                <strong>Track your Sleeping Pattern</strong> and improve your health...
                            </h6>
                            <strong>Follow the tips </strong>
                        </div>
                        <div class="py-4 ml-4">
                            <div class="d-flex flex-row align-self-start py-2">
                                <i class="fa fa-check"></i>
                                <span class="ml-4"> Get enough sleep and get happy, healthy and currious</span>
                            </div>
                            <div class="d-flex flex-row align-self-start py-2">
                                <i class="fa fa-check"></i>
                                <span class="ml-4"> Schedule your sleep and monitor irregular sleeping times</span>
                            </div>
                            <div class="d-flex flex-row align-self-start py-2">
                                <i class="fa fa-check"></i>
                                <span class="ml-4"> Track your sleep experiance and wake blessed </span>
                            </div>
                        </div>
                        <!--button link for login-->
                        <div class="">
                            <a href="#" class="btn btn-warning btn-lg rounded" data-target="#login"
                                data-toggle="modal"><strong>Get Started</strong></a>
                        </div>
                        <div id="login" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header d-flex justify-content-center bg-secondary">
                                        <h3>Please Login</h3>
                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">X</button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/" method="POST">
                                            <div>
                                                <div class="form-group">
                                                    <input class="form-control" type="email" name="email" id="email"
                                                        placeholder="Put your username/ email">
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control" type="password" name="password"
                                                        id="password" placeholder="Type Password">
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" class="btn btn-primary" name="submit"
                                                        value="Login">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card bg-primary text-center card-form">
                            <div class="card-body">
                                <h4>Use the app, Sign-up Today</h4>
                                <p>Please fill the form below</p>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-lg" placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-lg" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-lg"
                                            placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-lg"
                                            placeholder="Re-type password">
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" class="btn btn-outline-light btn-block" value="Submit"
                                            name="submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--header section-->
<section>
    <div class="container py-4">
        <div class="row">
            <div class="col-md-7">
                <div class="text-justify">
				<h4 class="text-center">Irregular Sleeping Pattern Tracking</h4>
                 <img src="/img/sl1.jpg" alt="" class="img-fluid rounded"style ="height:250px;width:100%;">
                 <h6> introduction </h6>
				<p>This app can help users track their sleep patterns and able to 
                 identify problems and impact of your sleeping expriance 
				    on your health, physical and mental strenght.
				    So, it points out critical sleep patterns and their impact on 
				    once overall change. <strong>Feel free to use our application
				    </strong> we help you track the irregular sleeping patterns and
				     give you health benefit tips</p>
                </div>
            </div>
            <div class="col-md-5">
				<h6>your sleeping experiance has a big impact in your overall success story</h6>
				<small>Find out what you can do about it.</small>  
				<a type="button" href="#">Learn more...</a>
              <a class="btn border-bottom" href="/user">sign-up</a>
           </div>
        </div>
<div class="row">
	<div class="col-md-6">
		<h3>Comments</h3>
		<form>
			<div id="comments" class="container">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Name"name="comment-name">
				</div>
				<div class="form-group">
					<input type="email" class="form-control" placeholder="Email" name="comment-email">
				</div>
				<div class="form-group">
					<textarea name="comment" id="comment" cols="20" rows="5" placeholder="Write comments here"></textarea>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-secondary btn-lg" name="submit-comment" value="Submit">
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-6">
		<img src="/img/dsleep.jpg" alt="sleep deep" class="img-fluid">
		<h2>The Night is Yours sleep deep and dream big...</h2>
	</div>
</div>
</div>

</section>